<link rel="stylesheet" href="/css/user_profile.css"></br>
<h2 style="color: white; padding-left: 10px;">User Profile</h2>
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<p style="color: white; padding-left: 10px;">Name : <%= profile_user.name %></p>
<p style="color: white; padding-left: 10px;">Email : <%= profile_user.email %></p>

<!-- For update the form -->
<% if(user.id == profile_user.id) { %>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST" style="padding-left: 10px;"></br>
        <input type="text" name="name" placeholder="New Name" required>
        <input type="email" name="email" placeholder="New Email" required>
        
        <!-- for image upload -->
        <input type="file" name="avatar" placeholder="Profile Picture"></br></br>
        <input type="Submit" value="Update">
    </form>
<% }else{ %>
    <!-- else dhow the profile info -->
    <p style="color: white;"><%= profile_user.name %></p>
    <p style="color: white;"><%= profile_user.email %></p>
<% } %>
